[user]
  name = Sarah Aslanifar
  email = sarah@testedminds.com
[alias]
  st = status
  br = branch
  ci = commit
  co = checkout
  logp = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  pr = pull --rebase
[color]
  ui = auto
  interactive = always
[color "interactive"]
  error = red bold
[color "branch"]
  current = yellow reverse
  local = green
  remote = red
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  excludesfile = "~/.gitignore_global"
[push]
  default = simple

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pager]
  branch = false
